

body{
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  color: #222b2f;
}
a{
  color: #222b2f;
}

.color-blue{
  color: #032251;
}
.color-grey{
  color: #adadad;
}
.color-dark-grey{
  color: #222b2f;
}
.color-2x{
  color: #222b2f;
}
.bg-light-blue{
  background-color: #e7f1ea;
}

.btn-hover-primary{

}

.fw-1{font-weight: 100;}
.fw-2{font-weight: 200;}
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}
.fw-7{font-weight: 700;}
.fw-8{font-weight: 800;}
.fw-9{font-weight: 900;}

.fs-12{font-size: 12px;}
.fs-14{font-size: 14px;}
.fs-16{font-size: 16px;}
.fs-18{font-size: 18px;}
.fs-20{font-size: 20px;}
.fs-22{font-size: 22px;}

.ln-22{line-height: 22px;}

.flex-1{flex: 1;}
.object-fit-cover{object-fit: cover;}

.z-index-1{z-index: 1;}
.z-index-2{z-index: 2;}
.z-index-4{z-index: 4;}
.z-index-5{z-index: 5;}
.z-index-6{z-index: 6;}
.z-index-7{z-index: 7;}
.z-index-8{z-index: 8;}
.z-index-9{z-index: 9;}

.bg-light{
  background-color: #e9e9e9 !important;
}

.h-100vh{
  height: 100vh;
}


header{
  transition: background 0.3s ease-in;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.7035189075630253) 40%, rgba(255,255,255,0.55) 60%, rgba(255,255,255,0) 90%);
}
#inner-header{
  background-color: #fff;
}
header.header-scrolled{
  background: #fff;
}
.header-logo{
  height: 60px;
  width: auto;
}
.btn-round{
  border-radius: 100px;
}
.btn-icon{
  height: 30px;
  width: auto;
}
.menu-icon{
  height: 30px;
  width: auto;
}
.main-banner-img{
  min-height: 400px;
  object-fit: cover;
  object-position: bottom center;
}

.BL-tab{
  border-radius: 10px;
}
.switch-btn{
  color: rgba(255,255,255,0.5);
  width: 120px;
  cursor: pointer;
}
.switch-btn.active{
  color: #fff;
}
.v-divider{
  width: 1px;
  height: 25px;
  background-color: #fff;
}

#homepage-banner{
  margin-bottom: 46px;
}
.search-outer{
  bottom: -46px;
}
.search-holder{
  border-radius: 10px;
  box-shadow: 0px 12px 40px 0px rgba(31, 190, 84, 0.26);
}
.search-inner{
  height: 44px;
  border-radius: 50px;
}
.search-icon{
  height: 18px;
  width: auto;
  cursor: pointer;
}
.main-search{
  border: none;
  background-color: transparent;
  outline: none !important;
}
.main-search::placeholder {
  color: #a3a3a3;
}
.search-btn{
  height: 44px;
}



.top-menu.show-menu{
  display: flex !important;
}

.show-menu .top-menu-logo{
  animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.close-menu{
  height: 20px;
  width: auto;
}
.plot-img{
  height: 60px;
  width: auto;
}

.exclusive-plots-outer{
  background-color: #032251;
}
.verified-plots-icon{
  width: 70px;
  height: auto;
}
.br-15{
  border-radius: 15px;
  overflow: hidden;
}


.slider-box-2-inner,
.slider-box-3-inner{
  width: calc(100% - 35px);
}
.plotting-img{
	height: 300px;
  border-radius: 10px;
	object-fit: cover;
}
.location-name{
  position: absolute;
  z-index: 2;
  width: 100%;
  background: transparent;
}

.popular-location-img{
  width: 100%;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
}


.circles-bg{
  position: relative;
}
.circles-top{
  position: absolute;
}
.work-icon{
  height: 60px;
  width: auto;
}

.sell-or-lease{
  background-image: url('../img/sell-or-lease.jpg');
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.overlay{
  position: relative;
}
.overlay::after{
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.sell-or-lease::after{
  border-radius: 20px;
}
.parner-card{
  border: 1px solid #032251;
  border-radius: 10px;
  background-color: #f4f6f8;
  min-width: 160px;
}
.parner-img{
  height: 30px;
  width: auto;
}

.slider-box-4-inner{
  width: calc(100% - 35px);
  background-color: #e7f1ea;
  border-radius: 10px;
  position: relative;
}
.testimonial-user{
  border-radius: 10px;
}
.quote-icon{
  width: 35px;
  height: auto;
}
.testimonial-icon{
  width: 35px;
  height: 35px;
}

.switch-btn-outer{
  width: 240px;
  height: 42px;
  display: flex;
  background-color: #e7f1ea;
  border-radius: 25px;
  overflow: hidden;

  position: relative;
}
.switch-btn-outer::after{
  content: "";
  position: absolute;
  z-index: 1;
  border-radius: 25px;
  width: 50%;
  height: 100%;
  background-color: #032251;
  transition: left 0.2s ease-in;
  
}
.switch-btn-inner{
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.buy-active .buying-btn,
.lease-active .lease-btn,
.left .switch-btn-inner:first-child,
.right .switch-btn-inner:nth-child(2){
  transition: color 0.2s ease-in;
  color: #fff;
}
.buy-active.switch-btn-outer::after,
.left::after {
  left: 0;
}
.lease-active.switch-btn-outer::after,
.right::after {
  left: 50%;
}
.plot-list{
  column-count: 4;
  list-style-type: none;
  padding-left: 0;
}
.plot-list li,
.plot-list a{
  color: #999;
  font-size: 16px;
}
.extra-li{
  display: none;
}
.show-extra-li .extra-li{
  display: list-item;
  animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.show-li{
  cursor: pointer;
}
.show-more-arrow{
  width: 12px;
  height: auto;
  transition: transform 0.3s ease-in;
}
.active-show-more .show-more-arrow{
  transform: rotate(-180deg);
}

.plot-list-outer{
  display: none;
}

.plot-list-outer.show-plot-group{
  display: block;
  animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.inner-top-search-outer{
  border: 2px solid #ededed;
  border-radius: 5px;
}

.location-icon{
  height: 20px;
  width: auto;
}
.mob-search-white-icon{
  height: 18px;
  width: auto;
}

.inner-slider-box-1-slide{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background: linear-gradient(90deg, rgba(12,184,69,1) 0%, rgba(2,45,16,1) 100%);
}
.header-top-space{
  margin-top: 96px;
}
.inner-slider-box-1-slide{
  border-radius: 15px;
  overflow: hidden;
}
.inner-slider-box{
  border-radius: 15px;
}

.inner-slider-box{
  /* background-color: #032251; */
  background: #032251 url('../img/verified-plots-dark.png') no-repeat;
  background-size: 100px auto;
  background-position: right 25px top 25px;
}
.slider-inner-icon-1{
  height: 50px;
  width: auto;
}
.slider-inner-icon-outer{
  line-height: 20px;
  /* min-width: 200px; */
}
.inner-slider-1-bg-image{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right center;
}

.select-group{
  height: 42px;
  border-radius: 50px;
  background-color: #e7f1ea;
}
.select-group-2{
  height: 42px;
}
.select-style-2{
  height: 42px;
  border: none;
  background-color: transparent;
  color: #222b2f;
}
.select-style-1{
  height: 42px;
  border: none;
  background-color: #e7f1ea;
  color: #222b2f;
  border-radius: 50px;
}
select:focus-visible{
  outline: none;
}

.listing-plot-img{
  width: 500px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 13px;
}

.listing-outer{
  border: 2px solid #e3e3e3;
  border-radius: 15px;
}

.top-bar{
  left: -2px;
  top: 40px;
  border-radius: 0 5px 5px 0;
  box-shadow: 3px 0px 8px -4px #000000;
}

.listing-outer{
  background-image: url('../img/verified-plots-icon.png');
  background-size: 60px auto;
  background-position: right 32px top 32px;
  background-repeat: no-repeat;
}

.list-location-icon{
  height: 35px;
  width: auto;
}
.list-location-separator{
  height: 35px;
  width: 2px;
}
.list-location-outer{
  border-bottom: 2px solid #e1e1e1;
}
.list-details-icon{
  height: 28px;
  width: auto;
}
.list-details-icon.dimensions-icon{
  height: 30px;
}
.list-details-icon.price-tag-icon{
  height: 32px;
}

.filter-icon{
  height: 25px;
  width: auto;
}

.filter-icon-outer {
  background-color: #e7f1ea;
}



@media (max-width: 1400px) {
  .listing-plot-img{
    width: 350px;
    height: 100%;
  }
}

@media (min-width: 991px) {
  .animate-to-top-2{animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;}
  .animate-to-top-3{animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;}
}
@media (max-width: 991px) {
  .top-menu{
    position: absolute;
    background-color: #f3f4f6;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
  .header-logo{
    height: 50px;
  }
  .btn-icon {
    height: 20px;
  }
  .top-menu-inner{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 18px -10px #cacaca;
    animation: slide-in-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
  }
  .header-link{
    flex: 1;
    text-align: center;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border-bottom: 1px solid #dee2e6 !important;
    font-size: 16px;

    
  }
  .header-link:nth-child(1){animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;}
  .header-link:nth-child(2){animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;}
  .header-link:nth-child(3){animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;}
  .header-link:last-child{
    border-bottom: none !important;
  }
  .search-holder {
    box-shadow: 0px 5px 20px 0px rgba(31, 190, 84, 0.26);
  }
  .plot-img{
    height: 40px;
    width: auto;
  }
  .plot-slider h5{
    font-size: 16px;
  }
  .slider-box-2-inner{
    width: calc(100% - 6px);
  }
  .slider-box-2[aria-hidden="false"]{
    justify-content: flex-start !important;
  }
  .slider-box-2[aria-hidden="false"] + .slider-box-2[aria-hidden="false"]{
    justify-content: flex-end !important;
  }

  .slider-box-3-inner{
    width: calc(100% - 6px);
  }
  .work-icon{
    height: 40px;
    width: auto;
  }
  .work-title{
    font-size: 16px;
  }
  .plot-list{
    column-count: 3;
  }
  .mob-round-btn{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-top-space{
    margin-top: 82px;
  }

  .listing-outer .list-details-1x{
    font-size: 16px;
  }
  .listing-outer .list-details-title{
    font-size: 12px;
    line-height: 12px;
  }
  .listing-outer .list-details-value{
    font-size: 14;
  }
  .listing-outer .list-details-3x{
    font-size: 20px;
  }
  .listing-plot-img{
    width: 100%;
    height: 280px;
    border-radius: 13px 13px 0 0;
  }
  .list-details-inner .ln-22{
    line-height: 18px;
  }
}


@media (max-width: 767px) {
  .hot-deals-slider img{
    height: 200px;
  }
  .hot-deals-slider h4{
    font-size: 18px;
  }
  .hot-deals-slider .fs-20{
    font-size: 16px;
  }
  .popular-location-img{
    height: 200px;
  }
  .slider-box-3[aria-hidden="false"]{
    justify-content: flex-start !important;
  }
  .slider-box-3[aria-hidden="false"] + .slider-box-3[aria-hidden="false"]{
    justify-content: flex-end !important;
  }
  .parner-img{
    height: 25px;
    width: auto;
  }
  .slider-box-4-inner{
    width: calc(100% - 6px);
  }
  .plot-list{
    column-count: 2;
  }
  .inner-slider-box{
    background-color: rgba(3,34,81,0.85);
  }
  .listing-plot-img{
    width: 100%;
    height: 280px;
    border-radius: 13px 13px 0 0;
  }
  .list-location-outer {
    border-bottom: none;
    background: #c1e8ce;
    padding: 5px 10px !important;
    border-radius: 0;
  }
  .list-location-icon {
    height: 18px;
    width: auto;
  }
  .list-location-text{
    font-size: 12px;
  }
  .list-location-heading{
    font-size: 18px !important;
  }
  .list-details-inner{
    flex: 1;
    box-shadow: 0 0 5px -1px #d0d0d0;
    border-radius: 5px;
  }
  .list-details-outer{
    gap: 8px;
  }

  .list-details-icon{
    height: 20px;
    width: auto;
  }
  .list-details-icon.dimensions-icon{
    height: 20px;
  }
  .list-details-icon.price-tag-icon{
    height: 20px;
  }
  
  .list-details-title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 5px;
    margin-bottom: 5px !important;
  }
  .list-details-title::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #5cd083;
    bottom: 0;
  }
  .list-details-switch-btn{
    width: 180px !important;
    height: 30px;
  }
  .listing-outer {
    box-shadow: 0 0 8px -2px #494949;
    border: none;
  }
  .filter-icon{
    height: 20px;
    width: auto;
  }
  .list-price-box-outer .list-price-box{
    align-items: center;
    background-color: #c1e8ce;
  }
  .list-price-box-outer{
    border: 1px solid #e7f1ea;
  }
  .list-price-box-outer .list-details-start-from{
    font-size: 12px;
    line-height: 12px;
  }
}




@media (max-width: 576px) {
  body, .btn, a, .main-search{
    font-size: 14px;
  }
  h2, .h2 {
    font-size: 22px;
  }
  h4, .h4 {
    font-size: 18px;
  }
  .header-logo{
    height: 40px;
  }
  .main-banner-img{
    min-height: 380px;
  }
  .search-btn {
    height: 39px;
    border-radius: 0 50px 50px 0;
  }
  .search-inner{
    height: 39px;
    border-radius: 50px 0 0 50px;
  }
  #homepage-banner{
    margin-bottom: 28px;
  }
  .search-outer{
    bottom: -28px;
  }
  .plot-slider h5{
    font-size: 14px;
  }
  .slider-box-1 > .slider-box-1-inner{
    box-shadow: 0 0 8px -1px #d0d0d0;
    /* box-shadow: 0 0 10px -3px #e1e1e1; */
    margin: 10px;
    width: calc(100% - 20px);
    border-radius: 10px;
    padding: 15px 0;
  }
  .exclusive-plots-row{
    box-shadow: 0 0 10px -3px #e1e1e1;
  }
  .verified-plots-icon {
    width: 50px;
  }
  .exclusive-plots-outer{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
    background-color: #051936ad;
    width: 100%;
    height: 100%;
  }
  .hot-deals-slider .slider-box-2-inner{
    width: calc(100%);
  }
  .slider-box-3-inner{
    width: calc(100% - 6px);
  }

  .ring-bg{
    display: none;
  }
  .circles-top{
    position: inherit;
  }

  .work-box{
    height: 150px !important;
    border-radius: 15px;
    background-color: #fff;
    border: 10px solid #e7f1ea;
  }

  .sell-or-lease-inner.overlay::after{
    background-color: rgba(3,34,81, 0.8);
  }
  .sell-or-lease{
    background-position: center right -100px;
  }
  .plot-list{
    column-count: 2;
  }
  .switch-btn-outer{
    width: 100%;
  }
  .plot-list li, .plot-list a{
    font-size: 14px;
  }
  .slider-inner-icon-1{
    height: 30px;
  }
  .slider-inner-icon-outer {
    width: 100px;
    height: 100px;
    line-height: 18px;
    background-color: #06285b;
    border-radius: 5px;
    box-shadow: 0 0 10px -4px #011a3f;
  }
  .header-top-space{
    margin-top: 72px;
  }
  .listing-plot-img{
    width: 100%;
    height: 200px;
  }
  .top-bar{
    top: 16px;
  }
  .list-details-btn-outer{
    width: 100%;
  }
  .list-details-btn-outer .btn{
    flex: 1;
  }
  .list-details-left-btn{
    border-radius: 0 0 0 13px;
    
  }
  .list-details-right-btn{
    border-radius: 0 0 13px 0;
  }
}


@keyframes slide-in-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale-in-tl {
  0% {
    transform: scale(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* =============footer css start============ */

.footer-outer-bg{
  background-color: #032251;
}
.ft-logo{
  height: 20px;
  width: auto;
  margin: 10px 15px;
}

.ft-links, .ft-links{
  display: block;
  text-decoration: none;
  color: #999;
  font-size: 16px;
  margin: 10px 0px;
}
.border-light-grey{
  border-color: #94979b99 !important;
}
.bg-light-grey{
  background-color: #354f74 !important;
}
.shadow-0{
  box-shadow: unset;
}